@model IEnumerable<WebApplication2.Models.Registro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorUnidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadEquipos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seriales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionRespuesta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarantiaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MarcaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreTecnicoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorUnidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadEquipos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seriales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionRespuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfilePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNavigation.Categoria1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarantiaNavigation.Garantia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaNavigation.Marca1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloNavigation.Modelo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTecnicoNavigation.NombreTecnico)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
